* {
    color: rgb(121, 81, 48);
    background-color: rgb(237, 206, 166);
}

h1 {
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
}

img {
    border: 3px rgb(121, 81, 48);
    border-style: dotted;
}

li {
    margin: 10px 0;
}

ul {
    border: 3px rgb(121, 81, 48);
    border-style: dotted;
}

ol {
    border: 3px rgb(121, 81, 48);
    border-style: dotted;
}