* {
    background-color: rgb(171, 229, 255);
    color:rgb(56, 56, 145)
}

h1 {
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
}

li {
    margin: 10px 0;
}

ul {
    border: 3px rgb(56, 56, 145);
    border-style: dotted;
}

ol {
    border: 3px rgb(56, 56, 145);
    border-style: dotted;
}