* {
    background-color: rgb(193, 161, 135);
    color:rgb(59, 37, 22)
}

h1 {
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
}

li {
    margin: 10px 0;
}

ul {
    border: 3px rgb(59, 37, 22);
    border-style: dotted;
}

ol {
    border: 3px rgb(59, 37, 22);
    border-style: dotted;
}