* {
background-color:rgb(255, 193, 252);
color: rgb(119, 27, 205);
text-align: center;
}

h1{
   font-family:'Times New Roman', Times, serif;
   text-decoration: underline;
   text-decoration-color: rgb(199, 140, 255);
   text-decoration-thickness: 2px;
}