* {
background-color:rgb(219, 177, 165);
color: rgb(123, 78, 41);
font-family:'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
   text-decoration: underline;
   text-decoration-color: rgb(128, 8, 8);
   text-decoration-thickness: 2px;
}
ul {
    list-style-position: inside;
    text-align: left;
    position: absolute;
    left: 130px;
    list-style-type: circle;
}

a {
    text-decoration-color: rgb(128, 8, 8)
}