* {
background-color:rgb(255, 193, 252);
color: rgb(119, 27, 205);
font-family:'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
   text-decoration: underline;
   text-decoration-color: rgb(199, 140, 255);
   text-decoration-thickness: 2px;
}
ul {
    list-style-position: inside;
    text-align: left;
    position: absolute;
    left: 130px;
}