* {
background-color:rgb(194, 193, 255);
color: rgb(46, 86, 167);
font-family:'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
   text-decoration: underline;
   text-decoration-color: rgb(0, 183, 207);
   text-decoration-thickness: 2px;
}
ul {
    list-style-position: inside;
    text-align: left;
    position: absolute;
    left: 130px;
    list-style-type: circle;
}

a {
    text-decoration-color: rgb(0, 183, 207)
}